.formSection {
    background-color: #FFCD00;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 90px 0;
}

.introBlock {
    display: flex;
    flex-direction: column;
}

.introBlock h2 {
    font-size: 54px;
    max-width: 649px;
}

.introBlock p {
    color: #7A7A7A;
    padding: 0;
    margin-bottom: 40px;
    max-width: 624px;
}

.formBlock {
    width: 649px;
}

@media screen and (max-width: 1330px) {
    .formSection {
        padding: 50px 20px;
    }
}

@media screen and (max-width: 768px) {
    .introBlock {
        max-width: 70vw;
    }

    .introBlock h2 {
        font-size: 36px;
    }

    .formBlock {
        width: 70vw;
    }
}