.button, input[type="submit"], .button-link {
  background-color: var(--accent-color);
  border: none;
  border-radius: 36px;
  color: var(--bar-border-color);
  font-weight: 500;
  line-height: 27px;
  padding: 14px 48px;
  text-decoration: none;
}

.button:hover, input[type="submit"]:hover, .button-link:hover {
  position: relative;
  top: -5px;
  border: 2px solid var(--bar-border-color);
  box-shadow: 0px 2px 0 2px var(--bar-border-color);
}

.button:focus, input[type="submit"]:focus, .button-link:focus {
  border: 2px solid var(--bar-border-color);
}

.button:active, input[type="submit"]:active, .button-link:active {
  box-shadow: 0px -2px 0px 0px var(--bar-border-color);
  border: 2px solid var(--bar-border-color);
}