:root {
  --accent-color: #ffcd00;
  --countdown-accent: #7a7a7a;
  --darker-bg: #f9fafb;
  --headings-color: #333;
  --bar-border-color: #101828;
  --text-color: #344054;
}

/* General style */

html, body {
  font-family: var(--font-poppins);
  overflow-x: hidden;
}

header,
footer {
  max-width: 100%;
}

h1, h2, h3 {
  color: var(--headings-color);
}

h1, h2 {
  font-family: var(--font-baloo);
  line-height: 130%;
}

h1 {
  font-size: 54px;
}

h3 {
  font-weight: 700;
  line-height: 140%;
}

em {
  font-style: normal;
  font-weight: 700;
}